<form>
	<!-- <div class="form-group form-inline">
		Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" /> -->
		<!-- <span class="ml-3" >Loading...</span> -->
	<!-- </div> -->
	<div style="text-decoration-color: red">{{message}}</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" sortable="id">id</th>
				<th scope="col" sortable="name">name</th>
				<th scope="col" sortable="filename">filename</th>
				<th scope="col" sortable="description">Description</th>
				<th scope="col" sortable="path">path</th>
				<th scope="col" sortable="action1">Action1</th>
				<th scope="col" sortable="action2">Edit</th>
			</tr>
		</thead>
		<tbody>
			<div class="my-container">
			<ng-template #customLoadingTemplate>
				<div class="custom-class">
					<h3>
						Loading...
					</h3>
				</div>
			</ng-template>
			<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
		</div>
			<tr *ngFor="let item of collection">
				<td>
					<ngb-highlight [result]="item.id"></ngb-highlight></td>
					<td>
					<ngb-highlight [result]="item.name"></ngb-highlight></td>
					<td>
					<ngb-highlight [result]="item.filename"></ngb-highlight></td>
					<td>
					<ngb-highlight [result]="item.description"></ngb-highlight></td>
					<td>
					<ngb-highlight [result]="item.path"></ngb-highlight></td>
					<td>
					<button (click)="download(item.id)">Delete File</button></td>
					<td>
						<button routerLink="/update/{{item.id}}"><i class="fa fa-edit"></i>edit</button>
					</td>
			</tr>
		</tbody>
	</table>
	<!-- <div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"></ngb-pagination>
		
	</div> -->
</form>