<div align="center" style="background-color: #ffff00">
	<span style="font-style: bold; margin-bottom: 10px;">
		<!-- <h3><b>Moonlanding Solutions</b></h3>
		 Pride in technology<br>
		<a href="mailto:moonlandingsolutions@gmail.com">Mail Admin</a><br>
		<b>Email:</b> moonlandingsolutions@gmail.com<br>		
		<b> Tel:</b> +254724669770<br><br> -->

		<div align="center" class="description">
			<h1><b><u>Histam Search</u></b></h1>
			Home of all information.<br>
			Get academic (KCPE, KCSE, KNEC and KASNEB) past papers for revision, business informatipon for decision making, government and county tenders application for deal making etc.<br>
			<b>Histam keeps you ahead, informed.</b><br><br>
			<b>Type &#x2192; search &#x2192; pay &#x2192; download.</b>
			<hr>
			 <!-- <h2 style="color: red;">Just Search</h2> -->
		</div>
		&copy; Histam.com
		&copy; blistered
</span>
</div>
